<nb-card>
  <nb-card-header>
      <div class="row">
          <div class="title">
              <span>Contribution detail</span>
          </div>
      </div>
  </nb-card-header>
  <nb-card-body>
      <form>
      <div class="row">
          <div class="col-xs-12 col-md-6">
              <label>Apply Code: </label>
              <input nbInput />
          </div>
          <div class="col-xs-12 col-md-6">
              <label>Description:</label>
              <input nbInput />
          </div>
      </div>
      </form>
      <br>
  </nb-card-body>
</nb-card>
