<div *ngFor="let topic of topic">
<nb-card>
  <nb-card-header>{{topic.topic}}</nb-card-header>
  <nb-card-body>
    <label>Start date: {{ topic.startdate }}</label>
    <br>
    <div>
      Deadline 1: {{ topic.deadline1 }}<br>
      Deadline 1: <span style="color: red;">{{ countDownDeadline1(topic.deadline1) }}</span>
    </div>
    <br>
    <div>
      Deadline 2: {{ topic.deadline2 }}<br>
      Deadline 2: <span style="color: red;">{{ countDownDeadline2(topic.deadline2) }}</span>
    </div>
    <br>
  </nb-card-body>
  <nb-card-footer>
    <ng-template [ngIf]="checked == true" [ngIfElse]="editButton">
    <button nbButton status="primary" (click)="onContributeButtonClicked(topic._id)">Contribute</button>
    </ng-template>
    <ng-template #editButton>
      <button nbButton status="primary">Edit</button>
    </ng-template>
  </nb-card-footer>
</nb-card>
</div>
