<div *ngFor="let topic of topic">
<nb-card>
  <nb-card-header>{{topic.topic}}</nb-card-header>
  <nb-card-body>
    <label>Start date: {{ topic.startdate | date}}</label>
    <br>
    <div>
      Deadline 1: {{ topic.deadline1 | date}}<br>
      Deadline 1: <span style="color: red;">{{ countDownDeadline(topic.deadline1) }}</span>
    </div>
    <br>
    <div>
      Deadline 2: {{ topic.deadline2 |date}}<br>
      Deadline 2: <span style="color: red;">{{ countDownDeadline(topic.deadline2) }}</span>
    </div>
    <br>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary" (click)="onContributeButtonClicked(topic._id)">Contribute</button>
  </nb-card-footer>
</nb-card>
</div>
