<nb-card>
  <nb-card-header>Topic Title</nb-card-header>
  <nb-card-body>
    <label>Start date: {{ startdate }}</label>
    <br>
    <div>
      Deadline 1: {{ countDownDeadline1Time }}
    </div>
    <br>
    <label>Deadline 2: {{ countDownDeadline2Time }}</label>
    <br>
  </nb-card-body>
  <nb-card-footer>
    <ng-template [ngIf]="checked == true" [ngIfElse]="editButton">
    <button nbButton status="primary" (click)="createTask()">Contribute</button>
    </ng-template>
    <ng-template #editButton>
      <button nbButton status="primary">Edit</button>
    </ng-template>
  </nb-card-footer>
</nb-card>

