<nb-card>
    <nb-card-header>Add Structure</nb-card-header>
    <nb-card-body>
     <form [formGroup]="editProfileForm" method="POST">
         <input type="hidden" formControlName="id" class="form-control" name="id">
         <div class="col-xs-12 col-md-12">
            
            <label for="name">Name</label>
            <input nbInput type="text"  class="form-control" name="name">
        </div>
        <div class="col-xs-12 col-md-12">
       
           <label for="email">Email</label>
           <input nbInput type="text"  class="form-control" name="email" >
       </div>
       <div class="col-xs-12 col-md-12">
       
           <label for="phone">Phone</label>
           <input nbInput type="number"  class="form-control" name="phone" >
       </div>
       <div class="col-xs-12 col-md-12">
       
           <label for="dob">Date of birth</label>
           <input nbInput type="date"  class="form-control" name="dob">
       </div>
       <div class="col-xs-12 col-md-12">
       
           <label for="address">Address</label>
           <input nbInput type="text"  class="form-control" name="address" >
       </div>
             </form>
         </nb-card-body>
         <nb-card-footer>
             <button class="cancel" nbButton status="danger" (click)="close()" md-dialog-close>Close</button>
             <!-- <button nbButton status="success" (click)="submit(addStructureForm.value)">Save</button> -->
         </nb-card-footer>
 </nb-card>