  <nb-card>
    <nb-card-header>Math</nb-card-header>
    <nb-card-body>
      <div class="col">
        <h5>Arithmetic study - Part 1 </h5>
        <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way. </p>
        <button nbButton status="primary">Learn more</button>
      </div>

    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header>History</nb-card-header>
    <nb-card-body>
      <div class="row">
        <img src="./assets/images/guest-8.jpg" style="width: 30%;">
        <div class="col-md-6 col-sm-6">
          <h5>History of the ancient capital of Hue</h5>
          <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
            Originally, nebula was a name for any diffuse astronomical object,
            including galaxies beyond the Milky Way. </p>
          <button nbButton status="primary">Learn more</button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header>Information Technology</nb-card-header>
    <nb-card-body>
      <div class="col">
        <h5>Machine Learning - Deep Learning </h5>
        <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way. </p>
        <button nbButton status="primary">Learn more</button>
      </div>
    </nb-card-body>
  </nb-card>
