<nb-card>
  <nb-card-body>

    <nb-tabset>
      <nb-tab tabTitle="Student">
        <input  class="form-control" type="text" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" >
        <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="studentdetail($event)"></ng2-smart-table>
    </nb-tab>
    <nb-tab tabTitle="Coordinator">
        <input  class="form-control" type="text" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" >
        <ng2-smart-table [settings]="settings" [source]="profile"  (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>
    </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>







