<nb-card>
    <!-- <nb-card-body style="text-align: right;">
      <a href="#" routerLink="/pages/login">Log in</a>
    </nb-card-body> -->
  </nb-card>

  <nb-card>
    <nb-card-body>

      <nb-tabset>
        <nb-tab tabTitle="Student">
            <nb-card>
                <nb-card-body>
                  <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="studentdetail($event)"></ng2-smart-table>
                </nb-card-body>
              </nb-card>
      </nb-tab>
        <nb-tab tabTitle="Coordinator">
          <ng2-smart-table [settings]="settings" [source]="profile"  (userRowSelect)="onUserRowSelect($event)" ></ng2-smart-table>
        </nb-tab>
      </nb-tabset>

    </nb-card-body>
  </nb-card>







