<div *ngFor="let f of faculty">
<nb-card>
  <nb-card-header>{{ f.name }}</nb-card-header>
  <nb-card-body>
  <div class="row " >
    <div class="col-md-4 col-sm-12">
      <nb-card size="tiny" class="info-card">
        <nb-card-body>
          <label>Total Contributions</label>
          <div *ngFor="let contribution of contributions"></div>
          </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-4 col-sm-12">
      <nb-card class="info-card" >Thu</nb-card>
    </div>
    <div class="col-md-4 col-sm-12">
      <nb-card class="info-card">Thu</nb-card>
    </div>
  </div>
</nb-card-body>
</nb-card>

</div>
