<nb-card>
    <nb-card-header>Welcome to visit University of Greenwich</nb-card-header>
    <nb-card-body class="example-items-rows">
        <nb-tabset>
            <nb-tab tabTitle="Introduction">
       
            </nb-tab>
            <nb-tab tabTitle="Hot news">
            </nb-tab>

            <nb-tab tabTitle="Event" >
            </nb-tab>

            <nb-tab tabTitle="Admissions" >
            </nb-tab>

            <nb-tab tabTitle="Staffs" >
            </nb-tab>

          </nb-tabset>
    </nb-card-body>
  </nb-card>