<div *ngFor="let topic of topic">
    <nb-card>
      <nb-card-header>{{topic.topic}}</nb-card-header>
      <nb-card-body>
        <label>Start date: {{ topic.startdate }}</label>
        <br>
        <div>
          Deadline 1: {{ countDownDeadline1Time }}
        </div>
        <br>
        <label>Deadline 2: {{ countDownDeadline2Time }}</label>
        <br>
      </nb-card-body>
      <nb-card-footer>
        <ng-template [ngIf]="checked == true" [ngIfElse]="editButton">
        <button nbButton status="primary" (click)="onContributeButtonClicked(topic._id)">View contribution</button>
        </ng-template>
        <ng-template #editButton>
          <button nbButton status="primary">Edit</button>
        </ng-template>
      </nb-card-footer>
    </nb-card>
    </div>
