<div class="header-container" *ngFor="let user of user">
  <nb-actions size="small">
    <nb-action class="control-item" icon="bell-outline" (click)="navigateToChat($event)" [routerLink]="['/pages/', user._id, 'chat']"></nb-action>
    <nb-action class="user-action" >
      <nb-user
      [nbContextMenu]="userMenu"
        name="Uyen"
        [title]="user?.role"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
  <!-- <div class="user" *ngFor="let user of user">
    <p> {{ user.role }}</p>
  </div> -->
</div>
