<nb-card>
  <nb-card-body>

    <h3>Hi</h3>
    <ng2-smart-table [settings]="settings"></ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body class="example-items-col">
    <!-- <textarea nbInput #postInput></textarea> -->
    <textarea nbInput [(ngModel)]="enteredValue"></textarea>
    <hr>
    <!-- <button nbButton status="primary" (click)="onAddPost(postInput)">Test Button</button> -->
    <button nbButton status="primary" (click)="onAddPost()">Test Button</button>

    <p>{{ newPost }}</p>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <button nbButton (click)="increment()">Increment</button>

  <div>Current Count: {{ count2$ | async }}</div>

  <button nbButton (click)="decrement()">Decrement</button>

  <button nbButton (click)="reset()">Reset Counter</button>
  </nb-card-body>
</nb-card>
