<nb-card>
    <nb-card-header>Update Profile</nb-card-header>
    <nb-card-body [formGroup]="email"  >
      <!-- <div class="" *ngFor="let user of user">

        <div class="col-xs-12 col-md-12">
            <label>Username</label>
            <input class="form-control"  formControlName="username"  >{{user.name}}
        </div>
        </div> -->
    </nb-card-body>
    <nb-card-footer >
        <button nbButton status="primary" (click)="sendMail()" >Send Mail</button>
    </nb-card-footer>
</nb-card>
