<div *ngFor="let student of student">
  <nb-chat [title]="student.name" size="medium" status="warning">
    <nb-chat-message *ngFor="let message of messages"
                     [type]="message.type"
                     [message]="message.text"
                     [reply]="message.reply"
                     sender=""
                     [date]="message.date"
                     [quote]="message.quote"
                     [latitude]="message.latitude"
                     [longitude]="message.longitude"></nb-chat-message>
    <nb-chat-form (send)="coorSendMessage($event,  true)" [showButton]="true">
    </nb-chat-form>
  </nb-chat>
</div>
