<!-- <div></div>
<nb-chat title="Jake" size="medium" status="warning">
  <nb-chat-message *ngFor="let message of messages"
                   [type]="message.type"
                   [message]="message.text"
                   [reply]="message.reply"
                   [sender]="message.user.name"
                   [date]="message.date"
                   [files]="message.files"
                   [quote]="message.quote"
                   [latitude]="message.latitude"
                   [longitude]="message.longitude"
                   [avatar]="message.user.avatar"></nb-chat-message>
  <nb-chat-form (send)="postMess('text','' , '_userId',true)" [showButton]="false" [dropFiles]="true">
  </nb-chat-form>
</nb-chat>
<nb-chat title="John" size="medium" status="success">
  <nb-chat-message *ngFor="let message of messages"
                   [type]="message.type"
                   [message]="message.text"
                   [reply]="!message.reply"
                   [sender]="message.user.name"
                   [date]="message.date"
                   [files]="message.files"
                   [quote]="message.quote"
                   [latitude]="message.latitude"
                   [longitude]="message.longitude"
                   [avatar]="message.user.avatar"></nb-chat-message>
  <nb-chat-form (send)="sendMessage($event,'userName')" [showButton]="false" [dropFiles]="true">
  </nb-chat-form>
</nb-chat> -->
<!-- <nb-chat size="medium" status="warning">
  <nb-chat-message *ngFor="let message of messages">
    [message]="message.text"

  </nb-chat-message>>
 <nb-chat-form (send)="postMess('text','' , '_userId',true)" [showButton]="true">
</nb-chat-form>
</nb-chat>

<nb-chat size="medium" status="primary">
  <nb-chat-message *ngFor="let message of messages">
    [message]="message.text"

  </nb-chat-message>
   <nb-chat-form (send)="postMess('text','' , '_userId',true)" [showButton]="true">
  </nb-chat-form>
</nb-chat> -->

<nb-card status="primary" >
  <nb-card-header >Chat Room</nb-card-header>
  <nb-card-body #form>
    <div *ngFor="let message of messages">
      <ul *ngFor="let user of user">
        <li>{{ user.name }}</li>
      </ul>
      <p>{{message.date}}</p>
      <p>{{message.text}}</p>

    </div>
    <!-- <div [formGroup]="checkoutForm"> -->
    <div *ngFor="let user of user"  >
    <input #text nbInput type="text"  class="form-control" name="text" >
    <input #username nbInput [value]="user?.name" name="userName" readonly>
    <input #idUser nbInput [value]="userId" readonly>


</div>
<!-- </div> -->
  </nb-card-body>
  <nb-card-footer>
    <!-- <button nbButton status="primary" (click)="postMess(checkoutForm.value)">Add</button> -->

  </nb-card-footer>
</nb-card>
