<nb-card>
  <nb-card-header>Update Profile</nb-card-header>
  <nb-card-body [formGroup]="editForm" *ngFor=" let user of user" (ngSubmit)="edit()">
      <div class="col-xs-12 col-md-12">
          <label>Name</label>
          <input #name class="form-control" formControlName="name" nbInput [ngModel]="user?.name" >
      </div>
  </nb-card-body>
  <nb-card-footer>
      <button nbButton status="warning" (click)="edit()">Edit</button>
      <!-- <button nbButton status="primary" (click)="back()">Back</button> -->
  </nb-card-footer>
</nb-card>
