<nb-card>
    <nb-card-header>Profile Detail</nb-card-header>

    <nb-card-body>
                <div [formGroup]="editProfileForm" >

          <!-- <input type="hidden"formControlName="_id"  class="form-control" name="_id" [ngModel]="coordinator?._id"> -->

          <input type="hidden" formControlName="_id" class="form-control" name="_id" [ngModel]="coordinator?._id">

          <div class="col-xs-12 col-md-12">
            
                 <label for="name">Name</label>
                 <input nbInput type="text" class="form-control" name="name" formControlName="name"  [ngModel]="coordinator?.name" >
             </div>
             <div class="col-xs-12 col-md-12">
            
                <label for="email">Email</label>
                <input nbInput type="text"  class="form-control" name="email" formControlName="email"  [ngModel]="coordinator?.email">
            </div>
            <div class="col-xs-12 col-md-12">
            
                <label for="phone">Phone</label>
                <input nbInput type="number"  class="form-control" name="phone" formControlName="phone" [ngModel]="coordinator?.phone">
            </div>
            <div class="col-xs-12 col-md-12">
            
                <label for="dob">Date of birth</label>
                <input nbInput type="text"  class="form-control" name="dob" formControlName="dob"  [ngModel]="coordinator?.dob">
            </div>
            <div class="col-xs-12 col-md-12">
            
                <label for="address">Address</label>
                <input nbInput type="text"  class="form-control" name="address"  formControlName="address" [ngModel]="coordinator?.address">
            </div>
        </div>
         </nb-card-body>

        <nb-card-footer>
            <button class="cancel" nbButton status="danger" (click)="back()" >Back</button>
            <button nbButton status="success" (click)="onSubmit(editProfileForm.value)">Save</button>

        </nb-card-footer>
 </nb-card>