<p>Administrator!</p>

<nb-card>
    <nb-tabset fullWidth>
    <nb-tab tabTitle="Create Account">
        <nb-card-body class="example-items-rows">
            <nb-radio-group >
                <nb-radio value="1">Administrator</nb-radio>
                <nb-radio value="2">Coordinator</nb-radio>
                <nb-radio value="3">Manager</nb-radio>
                <nb-radio value="4">Student</nb-radio>
                <nb-radio value="5">Guest</nb-radio>
            </nb-radio-group>
    
            <form #formCreate="ngForm" >

                <div class="form-group">
                    <label for="name">Username</label>
                    <input formControlName="name" nbInput shape="semi-round" id="name" type="text" class="form-control" required minlength="6">
                </div>
            
               
            
                <div class="form-group">
                    <label for="email">Email</label>
                    <input formControlName="email" nbInput shape="semi-round" id="email" type="email" class="form-control" required>
                </div>
            
               
                <div class="form-group">
                    <label for="password">Password</label>
                    <input formControlName="password" nbInput shape="semi-round" id="password" type="password" class="form-control">
            
                </div>
            
                <button nbButton status="primary" type="submit">Create</button>
            
            </form>

        </nb-card-body>
      </nb-tab>
    
    <nb-tab tabTitle="Accounts Manage">
        <ng2-smart-table [settings]="settings" ></ng2-smart-table>
      </nb-tab>

    <nb-tab tabTitle="Falcuty Manage">
        <p>List of <strong>users</strong>.</p>
      </nb-tab>

    <nb-tab tabTitle="Closure Date">
        <ng2-smart-table [settings]="closure" ></ng2-smart-table>
      </nb-tab>

</nb-tabset>
</nb-card>