<div class="col-md-6">
  <nb-card>
    <nb-card-header>Basic form</nb-card-header>
    <nb-card-body>

      <input type="text" nbInput fullWidth fieldSize="small" placeholder="Input">
      <textarea nbInput fullWidth placeholder="Textarea"></textarea>
      <input type="text" nbInput fullWidth fieldSize="small" placeholder="Input">
      <textarea nbInput fullWidth placeholder="Textarea">
              </textarea>

    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-body class="example-items-col">
      <input type="text" nbInput fullWidth status="basic" placeholder="Default">
      <input type="text" nbInput fullWidth status="primary" placeholder="Primary">
      <input type="text" nbInput fullWidth status="info" placeholder="Info">
      <input type="text" nbInput fullWidth status="success" placeholder="Success">
      <input type="text" nbInput fullWidth status="warning" placeholder="Warning">
      <input type="text" nbInput fullWidth status="danger" placeholder="Danger">
      <div class="control-status-example">
        <input type="text" nbInput fullWidth status="control" placeholder="Control">
      </div>
      <nb-tabset>
        <nb-tab tabTitle="Simple Tab #1">
          Tab content 1
        </nb-tab>
        <nb-tab tabTitle="Simple Tab #2">
          Tab content 2
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>

<nb-card>
  <nb-card-body>
    <button nbButton (click)="navigateToCodeMaster()" status="success">
      Admin
  </button>
  </nb-card-body>
 
</nb-card>

