
 nb-card {
  min-width: 18rem;
  // max-width: 20%;
}

nb-card-body {
  align-items: stretch;
  // display: flex;
  justify-content: center;
  padding: 0;
}

nb-card-header{
text-align: center;
}
button{
  display: flex;
  justify-content: center;}

  input{
    margin: 10px;
  }

  nb-layout-column{
    padding: 0;
  }