<nb-card status="warning">
    <nb-card-header style="display: flex; justify-content: center;">
      <nb-icon icon="star-outline"></nb-icon> &nbsp;
      <span *ngFor="let faculty of faculty">{{ faculty.name }}</span> &nbsp;
      <nb-icon icon="star-outline"></nb-icon>
    </nb-card-header>
    <nb-card-body>
      <div class="row " >
        <div class="col-md-4 col-sm-12">
          <nb-card size="tiny" class="info-card">
            <nb-card-body></nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-4 col-sm-12">
          <nb-card class="info-card" >Thu</nb-card>
        </div>
        <div class="col-md-4 col-sm-12">
          <nb-card class="info-card">Thu</nb-card>
        </div>
      </div>
    </nb-card-body>
</nb-card>
