<nb-card>
    <nb-card-header>Reset Password</nb-card-header>
    <nb-card-body [formGroup]="changePasswordForm"  (ngSubmit)="changePassword()">
        <!-- <div class="col-xs-12 col-md-12">
            <label>Old password</label>
            <input class="form-control" nbInput formControlName="password" >
        </div> -->
        <div class="col-xs-12 col-md-12">
            <label>New password</label>
            <input class="form-control" nbInput formControlName="password" >
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary"(click)="changePassword()" >Save</button>
    </nb-card-footer>
</nb-card>