<nb-card>
    <nb-card-header>Profile</nb-card-header>
    <nb-card-body>
        <div class="post" *ngFor="let user of user">
            <p><strong>Name: </strong>{{ user.name }}</p>
            <p><strong>Role: </strong>{{ user.role | titlecase }}</p>
            <!-- <p><strong>Faculty: </strong></p> -->
            </div>
    </nb-card-body>

        <nb-card-footer>
        <button nbButton status="primary" (click)="back()">Back</button>
        <button nbButton status="success" (click)="profileEdit()">Update profile</button>

        </nb-card-footer>
</nb-card>

