<nb-layout>
  <nb-layout-header fixed >
    <a (click)="toggleCompact()" class="sidebar-toggle" style="margin-right: 10px;">
      <nb-icon icon="menu-outline"></nb-icon>
    </a>
    <h3 fxShow.gt-sm="true" fxShow="false" >Enterprise Web</h3>
    <h5 fxShow.sm fxHide.gt-sm>Enterprise Web</h5>
    <div fxShow.gt-sm="true" fxShow="false" style="text-align:right">
      <img src="./assets/images/greenwich-logo.jpg" width="280" height="75"/>
    </div>
    <div style="position: absolute; right: 0px">
      <app-header></app-header>
    </div>
  </nb-layout-header>

<nb-sidebar tag="left">
<nb-menu [items]="menu"></nb-menu>
</nb-sidebar>

<nb-layout-column >
  <router-outlet></router-outlet>
</nb-layout-column>

<nb-layout-footer>
<div class="container" style="padding:0;">
  <ul style="list-style: none; padding: 0">
    <li><h5>University of Greenwich</h5></li>
    <li><nb-icon icon="pin-outline"></nb-icon>&nbsp; 142-144 Pham Phu Thu, HCMC, Vietnam</li>
    <li><nb-icon icon="phone-call-outline"></nb-icon>&nbsp; 012456789</li>
    <li><nb-icon icon="email-outline"></nb-icon>&nbsp; uog@gmail.com</li>
  </ul>
</div>
</nb-layout-footer>

</nb-layout>
