.form-cr {
    padding: 30px;
    position: relative;
    input {
        width:35%;
        border-radius:10px;
    }
}
.faculty {
    padding:10px;
    border-radius:10px;
    border-color: #c7c0c0;
}
