<p>Administrator!</p>

<nb-card status="primary">
  <nb-card-header>
    <nb-icon icon="person-add-outline"></nb-icon>
  </nb-card-header>
        
    <form id="Form-create" class="form-group" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Username</label>
        <input nbInput shape="semi-round" type="text" #emailInput formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
    </div>
        

        <label for="name">Name</label>
        <input nbInput shape="semi-round" #nameInput type="text" class="form-control" required>

        <label for="password">Password</label>
        <input nbInput shape="semi-round" #passInput type="password" class="form-control" required>

        <label for="role">Role</label><br>
        <nb-select #roleSelect placeholder="Select">
            <nb-option *ngFor="let item of roleList" [value]="item.role">{{ item.name }}</nb-option>
        </nb-select><br><br>

        <label for="falcuty">Faculty</label><br>
        <nb-select #facultySelect placeholder="Select" >
            <nb-option *ngFor="let faculty of facultyList" [value]="faculty">{{ faculty.name }}</nb-option>             
        </nb-select><br><br>

        <button nbButton status="primary" type="submit" (click) = 'onCreateButtonClicked(emailInput.value, nameInput.value, passInput.value, roleSelect.selected, facultySelect.selected)'>Create</button>
                
    </form>
  


</nb-card>

