<nb-card>
    <nb-card-header>Update Profile</nb-card-header>
    <nb-card-body [formGroup]="editForm" *ngFor=" let user of user" (ngSubmit)="edit()">
        <div class="col-xs-12 col-md-12">
            <label>Username</label>
            <input class="form-control" nbInput formControlName="username" [ngModel]="user?.username" >
        </div>
        <!-- <div class="col-xs-12 col-md-12">
            <label>Password</label>
            <input type="password" class="form-control" nbInput [ngModel]="user?.password" >
        </div> -->
        <div class="col-xs-12 col-md-12">
            <label>Name</label>
            <input #name class="form-control" formControlName="name" nbInput [ngModel]="user?.name" >
        </div>
        <!-- <div class="col-xs-12 col-md-12">
            <label>Role</label>
            <input class="form-control" nbInput [ngModel]="user?.role" readonly>
        </div> -->
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="warning" (click)="edit()">Edit</button>
        <button nbButton status="primary" (click)="back()">Back</button>
    </nb-card-footer>
</nb-card>
