<nb-card>
    <nb-card-body>
        <form class="needs-validation" novalidate #form>
            <h1>Create topic</h1>
            <label>Topic title</label>
            <input nbInput type="text" #title/> <br>
            <label>Deadline 1</label>
            <input nbInput type="date" #date1/> <br>
            <label>Deadline 2</label>
            <input nbInput type="date" #date2/> <br>
            <button nbButton status="danger" (click)="onCreateButtonClicked(title.value, date1.value, date2.value)">Create</button>
            <nb-alert status="success" *ngIf="isAlert">Topic created successfully</nb-alert>
        </form>
    </nb-card-body>
</nb-card>