
<nb-card status="primary">
  <nb-card-header>
    <nb-icon icon="clock-outline"></nb-icon>
  </nb-card-header>

  <nb-card-body>
  <nb-alert status="success" closable (close)="onCloseAlert()" *ngIf="isAlert">
    Submit successfully.
  </nb-alert>

  <form id="form-create" class="form-dl" [formGroup]="deadlineForm">
    <div class="form-group">
      <label for="topic">Topic</label>
      <input class="dati" nbInput type="text" #topicInput formControlName="topic" class="form-control">
    </div>

    <div class="form-group">
      <label for="date">Start Date</label>
      <input class="dati" nbInput type="datetime-local" #startdateInput formControlName="startdate" class="form-control">
    </div>
    
    <div class="form-group">
      <label for="date">Deadline1</label>
      <input class="dati" nbInput type="datetime-local" #deadline1Input formControlName="deadline1" class="form-control">
    </div>
    
    <div class="form-group">
      <label for="date">Deadline2</label>
      <input class="dati" nbInput type="datetime-local" #deadline2Input formControlName="deadline2" class="form-control">
    </div>
    
    <button nbButton status="primary" (click)="onSubmitButtonClicked()">Submit</button>
    <button nbButton status="warning" (click)="onUpdateButtonClicked()">Update</button>

</form>

  <br>
  <ng2-smart-table [settings]="settings" [source]="sourceClosures" (edit)="onEditButtonClicked($event)" (delete)="onDeleteButtonClicked($event)"></ng2-smart-table>
</nb-card-body>
 
</nb-card>
