<nb-card>
  <nb-card-body>
    <div class="row">
      <img src="./assets/images/guest-3.jpg" style="width: 30%;">
      <div class="col-md-6 col-sm-6">
        <h5>Talkshow: Learning Machine Learning</h5>
        <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way. </p>
        <button nbButton status="primary">Learn more</button>
      </div>
    </div>
    <br>
    <div class="row">
      <img src="./assets/images/guest-4.png" style="width: 30%;">
      <div class="col-md-6 col-sm-6">
        <h5>Talkshow: Marketing</h5>
        <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way. </p>
        <button nbButton status="primary">Learn more</button>
      </div>
    </div>
    <br>
    <div class="row">
      <img src="./assets/images/guest-5.jpg" style="width: 30%;">
      <div class="col-md-6 col-sm-6">
        <h5>Teambuilding 2021</h5>
        <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way. </p>
        <button nbButton status="primary">Learn more</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
