<nb-card status="warning">
  <nb-card-header>
    <nb-icon icon="star-outline"></nb-icon>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <nb-card size="tiny" class="info-card">
          <nb-card-body>200</nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card class="info-card">Thu</nb-card>
      </div>
      <div class="col-md-4 col-sm-12">
        <nb-card class="info-card">Thu</nb-card>
      </div>
    </div>
    <nb-card fullWidth>
      <nb-card-body>
        <h2>Thu Uyen</h2>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
