<nb-card>
  <nb-card-header>  Welcome to visit University of Greenwich </nb-card-header>


  <nb-card-body class="example-items-rows">

    <div class="background" style="display: flex; justify-content: center;">
      <img src="./assets/images/guest-6.png">
    </div>
    <br>
    <br>
    <div class="row">
      <img src="./assets/images/guest-2.jpg">
      <div class="col-md-4 col-sm-12">
        <h5>The dynamism of Greenwich students</h5>
        <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way. </p>
        <button nbButton status="primary">Learn more</button>
      </div>
    </div>
  </nb-card-body>

</nb-card>
